#footer{
    padding: 5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #283367;
    color: white;
    .footer-text{
        span{
            color: #39CFB7;
            cursor: pointer;
        }
    }
    .footer-links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        i{
            background-color: rgba(167, 167, 167, 0.178);
            padding: 20px;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
            }
        }
    }
}